spring:
  datasource:
    url: jdbc:h2:file:./.data/securechat;MODE=PostgreSQL;AUTO_SERVER=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password: ""
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    locations: classpath:/db/migration
management:
  endpoints:
    web:
      exposure:
        include: health
